.Sidebar {
  width: 220px;
  height: calc(100vh - 30px);;
  background-color: #101519;
  float: right;
  padding: 15px 10px;
  &__title {
    color: #8e9ba3;
    font-size: 14px;
    margin-bottom: 15px;
  }
  &__controls {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    border-top: 1px solid #fff;
    padding: 15px 0;
  }
}