.Antenna {
  display: inline-flex;
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fff;
    z-index: 7;
    &-point {
      border: 2px solid #00a1da;
      border-radius: 50%;
      width: 30px;
      height: 30px;
    }
  }
}